<h1>Articles#index</h1>
<%= will_paginate %>
<%= link_to "Create Article", new_article_path  %>
<ul>
  <% @articles.each do |article| %>
    <li>
      <p> Title: <%= link_to  article.title, article_path(article.id) %> </p>
      <p> Author: <%= link_to article.author.name, user_path(article.author.id) %> </p>
      <p> Creation date: <%= article.created_at %> </p>
      <hr />
    </li>
  <% end %>
</ul>
<%= will_paginate %>
